@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

:root {
    --font-color: #fbfbfb;
    --calculator-bg-color: #34383a;
    --primary-color: #5d6061;
    --secondary-color: #4d4f50;
    --teritary-color: #505253;
    --border-radius: 6px;
}

html, body {
    background-color: #181a1b;
    margin: 0;
    padding: 0;
}

#calculator, #calculator * {
    color: var(--font-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 36px;
}
#calculator {
    background-color: var(--calculator-bg-color);
    font-weight: bold;
    border-radius: var(--border-radius);
    width: 400px;
    height: 700px;
    margin: auto;
    user-select: none;
    padding-top: 3px;
}

#calculatorButtons {
    display: grid;
    width: 100%;
    grid-template-areas: 
        "backspace start-bracket end-bracket . pi"
        "seven eight nine divide sqrt"
        "four five six multiply exponent"
        "one two three minus enter"
        "zero dot . plus enter";
}

#calculatorButtons > div {
    margin: 3px;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

#calculatorButtons > #enterButton {
    background-color: orange;
}

#calculatorHistory, #calculatorInput {
    filter: drop-shadow(0 0 5px #00000042);
    width: calc(100% - 30px);
}

#calculatorHistory {
    background-color: var(--teritary-color);
    height: 80px;
    padding: 6px 12px;
    margin: 0 3px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#calculatorInput {
    background-color: var(--secondary-color);
    width: calc(100% - 30px);
    padding: 6px 12px;
    margin: 3px;
    margin-top: 1.5px;
    border: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

#calculatorInput:focus-visible {
    outline-width: 0;
}
